---
layout: default
section_id: city
---

<!-- city header -->
<div class="full centered-text {{page.city_name}}">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">{{page.city_name}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="header-quote">
        <p></p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>

<!-- city description -->
<div class="two spacing"></div>
<div class="row">
  <div class="large-8 columns">
    <div class="project-intro">
          <!--<h2>{{page.city_name}}</h2>-->
          <p>{{page.description }}</p>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="project-intro">
      <h4>{{site.data.translations.location[page.lang]}}</h4>
      {% for event in site.data.events %}
        {% if event.city == page.city_name %}

          <p><span>{{event.location}}</span></p>

        {% endif %}
      {% endfor %}
      <h4>{{site.data.translations.links[page.lang]}}</h4>
      {% for contact in site.data.contacts %}
        {% if contact.city == page.city_name %}

          {% for link in contact.links %}
          <p><span><a href="{{link.url}}">{{link.name}}</a></span></p>
          {% endfor %}

        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
</div>
<hr>


<div class="full">
  <div class="row">
    <div class="large-9 large-centered columns">
      {{ page.content | markdownify }}
    </div>
  </div>
</div>

<!-- Projets -->


{% for city in site.data.villes %}
    {% if city.name == page.city_name %}
    {% if city.tokenProjects %}
<div class="full">
    <div class="section-title">
      <div class="row">
        <div class="medium-10 medium-centered columns">
          <h2>{{site.data.translations.projects[page.lang]}}</h2>
        </div>
      </div>
    </div>
    <div class="row">
        <iframe class="airtable-embed" src="https://airtable.com/embed/{{ city.tokenProjects }}" frameborder="0" onmousewheel="" width="100%" height="800" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </div>
</div>
  {% endif %}
  {% endif %}
{% endfor %}


{% for city in site.data.villes %}
  {% if city.name == page.city_name %}
    {% if city.tokenOrga %}
<!-- team -->
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>{{site.data.translations.team[page.lang]}}</h2>
        <!-- <p>We are happy to work together</p> -->
      </div>
    </div>
  </div>
  <div class="row">
    <iframe class="airtable-embed" src="https://airtable.com/embed/{{ city.tokenOrga }}" frameborder="0" onmousewheel="" width="100%" height="350" style="background: transparent; border: 1px solid #ccc;"></iframe>
    <!--
    {% for member in site.data.members %}
      {% if member.city == page.city_name %}

      <div class="avatar-container large-3 columns">
        <div class="member">
          <img src="{{member.avatar}}" alt="{{member.name}}">
          <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
          <div class="member-info">
            <h4>{{member.name}}</h4>
            <p class="position">{{member.position}}</p>
            <ul class="socials">
              {% for social in member.socials %}
                <li><a href="{{social.url}}"><i class="fa fa-{{social.name}}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
     -->
  </div>
</div>
    {% endif %}
  {% endif %}
{% endfor %}


<div class="full moutarde no-padding">
  <div class="two spacing"></div>
  <div class='row'>
    <div class='large-12 columns text-center'>
      <div class='clients'>
        {% for item in site.data.partenaires %}
          {% if item.city == page.city_name %}

          {% for partenaire in item.partenaires %}

          <div class="partenaire ">
            <div class=""><a href="{{partenaire.url}}"><img alt="" class="logo-partenaire logo-partenaire-ville" src="{{partenaire.image}}"></a></div>
          </div>
          {% endfor %}


          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
