<div class='contain-to-grid sticky transparent'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class="">

        <h1>
          <span>
            <a href="">
          <img width="50" height="50" src="{{site.baseurl}}/assets/images/mini-logo.png" alt="">
            </a>
          </span>
          {% if page.lang == "en" %}
            <a href='{{site.baseurl}}/home.html'>
              Civic Tech Night
            </a>
          {% else %}
            <a href='{{site.baseurl}}/index.html'>
              Nuit du Code Citoyen
            </a>
          {% endif %}

        </h1>
      </li>
    </ul>
    <div id="menu-toggler" class="right">
      <a href='#'>
        <i class="icon-arrows-hamburger-2"></i>
      </a>
    </div>
    <section class='top-bar-section closed'>
      <ul class='right'>




        {% for item in site.data.nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}

          {% if item.children %}
            <li class="has-dropdown {{active_class}}">

              <a href="
              {% if item.path == 'participer/' %}
                {{site.baseurl}}/{{ item.path }}/{{page.lang}}/proposer-un-projet
              {% else %}
                {{site.baseurl}}/{{page.lang}}/{{ item.path }}
              {% endif %}

              "> {{ item.name[page.lang] }} </a>
              <ul class='dropdown'>
                {% for child in item.children %}
                  <li>
                    <a href="{{site.baseurl}}/{{ item.path }}/{{page.lang}}/{{ child.path }}">
                      {% if child.name.en %}
                        {{ child.name[page.lang] }}
                      {% else %}
                        {{ child.name }}
                      {% endif %}

                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="{{active_class}}">
              <a href="{{site.baseurl}}/{{page.lang}}/{{ item.path }}">{{ item.name[page.lang] }}</a>
            </li>
          {% endif %}
        {% endfor %}

        <li class="has-dropdown">
          <a href="#">lang</a>
          <ul class="dropdown">
            {% assign temp_pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for temp_page in temp_pages %}
            <li>
              <a href="{{ temp_page.url }}" class="{{ temp_page.lang }}">{{ temp_page.lang }}</a>
            </li>
            {% endfor %}
          </ul>

        </li>

      </ul>
    </section>
  </nav>
</div>
