---
layout: default
section_id: contact
---

<div class="full centered-text contact">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp black">{{site.data.translations.ondiscute[page.lang]}}</h1>

      </div>
    </div>
  </div>
</div>
<div class="full white flower">
  <div class="two spacing"></div>
  <div class="row">
    <div class="large-4 columns">
      <div class="contact-details">
        <i class='icon-basic-webpage-img-txt'></i>
        <h3>{{site.data.translations.socials[page.lang]}}</h3>
         <a class=""  href="https://twitter.com/search?q=%23NuitCodeCitoyen%20"><i class='fa fa-twitter' style="font-size:1rem; margin-bottom:3px"> #NuitCodeCitoyen</i></a>
        <a class=""  href="https://www.instagram.com/explore/tags/nuitcodecitoyen/"><i class='fa fa-instagram' style="font-size:1rem; margin-bottom:3px"> #NuitCodeCitoyen</i></a>

      </div>

    </div>
    <div class="large-4 columns">
      <div class="contact-details">
        <i class='icon-basic-message-multiple'></i>
        <h3>Chat</h3>
       <!-- <a href="https://join.slack.com/t/bricodeurs/shared_invite/enQtMjk4MDg1NTIxMDI4LWU1MjRhMjlmYmYyYmM3MGRhNjg3YjIzMGRiMzk0YjE4OTYyYzUxZWFkMDE1MTZiZTRiOTBhYTA4YTQ5YTA2NTY"><i class='fa fa-users' style="font-size:1rem; margin-bottom:3px"> Le Slack des Bricodeurs #codecitoyen</i></a> -->
       <a href="https://t.me/joinchat/DG_eHBX_QU3P_t7BfbdNZg"><i class='fa fa-users' style="font-size:1rem; margin-bottom:3px"> Le groupe Telegram</i></a> -->
        
        <a href="https://meet.jit.si/NuitCodeCitoyen"><i class='fa fa-video-camera' style="font-size:1rem; margin-bottom:0px"> Video conférence <span style="font-size:0.8rem;">( Vendredi 19h30, 2h du matin, Samedi 19h30)</span></i></a> 
      </div>
    </div>
    <div class="large-4 columns">
      <div class="contact-details">
        <i class='icon-basic-mail'></i>
        <h3>Email</h3>
        <p>{{site.email}}</p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div>

  <div class="row">
    <div class="large-6 columns">
      <a class="twitter-timeline"  href="https://twitter.com/search?q=%23NuitCodeCitoyen%20" data-widget-id="834065111178428417">Tweets about #NuitCodeCitoyen </a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
    <div class="large-6 columns">
      <!-- InstaWidget -->
    <a href="https://instawidget.net/v/tag/NuitCodeCitoyen" id="link-433acec5084d59806f3d7db8ad3818dc5042ea1210237c4589c0021c826e488b">#NuitCodeCitoyen</a>
    <script src="https://instawidget.net/js/instawidget.js?u=433acec5084d59806f3d7db8ad3818dc5042ea1210237c4589c0021c826e488b&width=600px"></script>
      </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <br>

    </div>
  </div>
</div>
<!-- <div class="full light-grey">
  <div class="row">
    <div class="large-8 columns">
      <div class='form'>
        <form id='contact_form' method='POST'>
          <p id='thanks' class='hide'>
            Thanks for contacting us, we'll be in touch soon!
          </p>
          <input class='required' name='name' placeholder='NAME' type='text'>
          <input class='required email' name='email' placeholder='EMAIL' type='text'>
          <input class='required' name='subject' placeholder='SUBJECT' type='text'>
          <textarea class='required' name='message' placeholder='MESSAGE'></textarea>
          <div class='spacing'></div>
          <input class='button small boxed brown' type='submit'>
        </form>
      </div>
    </div>
    <div class="large-4 columns">
      <h3>Email Us</h3>
      <p>If you have any queations, advices for my theme or just want to say hi, please don't hesitate to contact us.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui.</p>
    </div>
  </div>
</div> -->
